$primaryColor: #424b6d;
$secondaryColor: #5169bd;
$infoColor: #a3bdee;
$successColor: #eeaf98;
$lightColor: #f2f4f5;
$darkColor: #000;

$baseFontPrimary: "Playfair Display", serif;
$baseFontSecondary: "Source Sans Pro", sans-serif;
